<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar-->
<!-- Navigation -->
<% include navbar.html %>

<!-- Page Content -->


<!-- Page Content -->
<div class="container">

	<div class="row">
		
		<!--Bootstrapped profile menu -->
		<!-- Profile Side Menu -->
		<% include menu.html %>
		
		<div class="col-md-9">
			<h2>Project List</h2>
			<p>All Projects for this Community.</p>            
			<table class="table table-hover">
		    	<thead>
			      	<tr>
			        	<th>Project ID</th>
			        	<th>Project Name</th>
			        	<th>Project Description</th>
			        	<th>Number of Likes</th>
			        	<th>Action</th>
			        	<th>Like</th>
			      	</tr>
		    	</thead>
		    	
		    	<tbody>
		    	
					<% for(var i = 0;i < data.length;i++) { %>
						<tr>
							<td><%=data[i].p_id%></td>
							<td><%=data[i].name%></td>
							<td><%=data[i].description%></td>
							<td><%=data[i].likes%></td>
							<% if(!auth) { %>
								<td><a class="idea-view" href="/project/<%=data[i].p_id%>">View</a></td>
							<% } else { %>
								<% if(admin) { %>
									<td>
										<a class="idea-view" href="/project/<%=data[i].p_id%>">View</a>
						            	<a class="project-edit" href="/edit_project/<%=data[i].p_id%>">Edit</a>
						            	<a class="project-delete" onClick="deleteProject(<%=data[i].p_id%>)">Delete</a>
						            	<td><button class="btn btn-primary" onClick="likeProject('<%=data[i].p_id%>')">Like</button></td>
						        	</td>
								<% } else { %>
									<td><a class="idea-view" href="/project/<%=data[i].p_id%>">View</a></td>
									<td><button class="btn btn-primary" onClick="likeProject('<%=data[i].p_id%>')">Like</button></td>
								<% }; %>
							<% }; %>
						</tr>
					<% } %>
				
		    	</tbody>
		  	</table>
		</div>
	</div>
</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>
