<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar-->
<!-- Navigation -->
<% include navbar.html %>

<!-- Page Content -->
<div class="container">
	<div class="row">
		
		<!--Bootstrapped profile menu -->
		<!-- Profile Side Menu -->
		<% include profile_menu.html %>

		<div class="col-md-9">
			<div class="funder-form-err-area"></div>

			<form class="form-horizontal" method="post" id="funder-form" autocomplete="on">
				<div class="form-group">		
					<h1 class="col-sm-7 control-label">Funder Form</h1>
				</div>
				
				<div class="form-group">
			    	<label class="col-sm-4 control-label">Organization: </label>
			    	<div class="col-xs-4">
			      		<input id="funder_organization" name="funder_organization" type="text" class="form-control" placeholder="Number of the organization">
			    	</div>
			  	</div>
			  	
			  	<div class="form-group">
			    	<label class="col-sm-4 control-label">Money: </label>
			    	<div class="col-xs-3">	    	
					    <div class="input-group">
					    	<div class="input-group-addon">$</div>
					    	<input id="funder_money" name="funder_money" type="number" min=0 class="form-control" placeholder="Amount">
					    	<div class="input-group-addon">.00</div>
					    </div>
				    </div>
			  	</div>
			  	
			  	<div class="form-group">
			    	<label class="col-sm-4 control-label">Interest: </label>
			    	<div class="col-xs-3">
			      		<select class="form-control" id="funder_interest" name="funder_interest">
							<option value="health">Health</option>
							<option value="education">Education</option>
						  	<option value="technology">Technology</option>
						  	<option value="finance">Finance</option>
						  	<option value="travel">Travel</option>
						</select>
			    	</div>
			  	</div>
		
			  	<div class="form-group">
			    	<div class="col-sm-offset-4">
			      		<input type="button" class="btn btn-primary btn-lg" value="Create" onClick="funderUpdateData('#funder-form', '.funder-form-err-area')"/> 
			    	</div>
			  	</div>
			</form>
		</div>
	</div>
</div>
<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>
