<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Homepage - Templete</title>

		<!-- Bootstrap Core CSS -->
		<link href="/../css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/../css/style.css" rel="stylesheet">
		
		<!-- Custom Graph CSS -->
		<link href="/../css/graph.css" rel="stylesheet">

		<!--  jQuery UI CSS -->
		<link href="/../css/jquery-ui.min.css" rel="stylesheet">

		<!--  jQuery -->
		<script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>

		<!--  jQuery UI -->
		<script type="text/javascript" src="/../js/jquery-ui.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/../js/bootstrap.min.js"></script>
		
		<!-- External Chart Library -->
		<script src="/../js/chart/Chart.js"></script>
		
		<!-- All javascript functions for this project -->
		<script type="text/javascript" src="/../js/javascript.js"></script>

	</head>
	
	<body>