<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar -->
<!-- Navigation -->
<% include navbar.html %>

<!--Bootstrapped menu bar-->
<!-- Menu -->
<% include menu.html %>

<!-- Page Content -->
<div class="container">

	<div class="row">
	
		<div class="music_list">
			
				
			<div class="col-md-9">
				<h2>Music List</h2>       
				<table class="table table-hover">
				    <thead>
						<tr>
							<th width="50px">ID</th>
							<th>Music Name</th>
						</tr>
				    </thead>
				    <tbody>
						<% for(var i = 0;i < data.length;i++) { %>
							<tr>
								<td><%=data[i].id%></td>
								<td><a name="music_id" href="/music/<%=data[i].id%>"><%=data[i].name%></a></td>						
							</tr>
						<% } %>
				    </tbody>
				</table>
			</div>
		</div>
		
	</div>
	
</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>



	
