<!--
<div class="col-md-3">
	<p class="lead">CATEGORIES</p>
	<div class="list-group">
		<a href="/community/health" class="list-group-item">Health</a>
		<a href="/community/education" class="list-group-item">Education</a>
		<a href="/community/technology" class="list-group-item">Technology</a>
		<a href="/community/finance" class="list-group-item">Finance</a>
		<a href="/community/travel" class="list-group-item">Travel</a>
	</div>
</div>
-->

<div class="col-md-3" style="float: left;">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Home</a></li>
        <li><a href="\profile"><span class="glyphicon glyphicon-chevron-right"></span>Profile</a></li>
        <li><a href="\upload"><span class="glyphicon glyphicon-chevron-right"></span>Upload</a></li>
        <li><a href="\login"><span class="glyphicon glyphicon-chevron-right"></span>Login</a></li>
    </ul>
</div>