<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar -->
<!-- Navigation -->
<% include navbar.html %>

<script>

$(document).ready(function() {
    music_data = <%- JSON.stringify(data[0]) %>;
    upload_audio(music_data);
});

function upload_audio(data){
    var music_audio_data = data.audio;
    var audio_path = music_audio_data.split(",");
    var audio_ids = ["#audio1", "#audio2"];

    for (var i = 1; i < audio_path.length; i++){
    	console.log(audio_path[i - 1]);
    	add_audio(audio_path[i - 1], audio_ids[i - 1]);
    };
};

function add_audio(path, audio_id){
	var content = "<audio controls>";
	content += "<source src=http://localhost:3000/load/" + path + " type='audio/mpeg'>";
	content += "Your browser does not support the audio element.";
	content += "</audio>";
	
	$(audio_id).html(content);
};

</script>

<!-- Page Content -->
<div class="container">

	<div id="audio1"></div>

	<div id="audio2"></div>

	<!-- 
	<audio controls>
		<source src=<%= "http://localhost:3000/load/" + data[0].audio%>  type='audio/mpeg'>
		Your browser does not support the audio element.
	</audio>
	-->

	<!--
	<img src=<%="http://localhost:3000/load/" + data[0].sheet%> alt="Mountain View" style="width:304px;height:228px;">
	-->

</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>



	
