<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar -->
<!-- Navigation -->
<% include navbar.html %>

<script>

$(document).ready(function() {
    console.log( "ready!" );
});

function upload_content(data){

};

</script>
<!-- Page Content -->
<div class="container">
	<div class="row">
		<%=data[0].name%>	
		<%=data[0].description%>
		<%=data[0].created_date%>
	</div>

	<audio controls>
	    <source src="http://localhost:3000/music/16" type="audio/mpeg">
	    Your browser does not support the audio element.
	</audio>

</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>



	
