<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar-->
<!-- Navigation -->
<% include navbar.html %>
	
<div id="register_form">

	<div class="register-form-err-area"></div>
		
	<form class="form-horizontal" id="register-form" method="post" autocomplete="on"> 
		<div class="form-group">		
			<h1 class="col-sm-7 control-label">Sign Up Form</h1>
		</div>

		<div class="form-group">
	    	<label class="col-sm-5 control-label">User Name</label>
	    	<div class="col-xs-3">
	      		<input id="user_name" name="user_name" type="text" class="form-control" placeholder="User Name">
	    	</div>
	  	</div>
	  	
		<div class="form-group">
	    	<label class="col-sm-5 control-label">Email</label>
	    	<div class="col-xs-3">
	      		<input id="email" name="email" type="email" class="form-control" placeholder="mysupermail@mail.com"/> 
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	    	<label class="col-sm-5 control-label">Password</label>
	    	<div class="col-xs-3">
	      		<input id="password" name="password" type="password" class="form-control" placeholder="eg. X8df!90EO"/>
	    	</div>
	  	</div>

	  	<div class="form-group">
	    	<div class="col-sm-offset-6 col-sm-6">
	      		<input type="button" class="btn btn-primary btn-lg" value="Register" onClick="registerUser('#register-form', '.register-form-err-area')"/> 
	    	</div>
	  	</div>
	</form>
	
</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>

