<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar-->
<!-- Navigation -->
<% include navbar.html %>

<div id="upload_form">

	<form class="form-horizontal" id="upload-form" enctype="multipart/form-data" method="post" autocomplete="on"> 
		
		<div class="upload-form-err-area"></div>
		
		<div class="form-group">		
			<h1 class="col-sm-7 control-label">Upload Music Form</h1>
		</div>

		<div class="form-group">
	    	<label class="col-sm-5 control-label">Music Name</label>
	    	<div class="col-xs-3">
	      		<input name="music_name" type="text" class="form-control" placeholder="Super Cool music" />
	    	</div>
	  	</div>
	  	
		<div class="form-group">
	    	<label class="col-sm-5 control-label">Description</label>
	    	<div class="col-xs-3">
	      		<textarea name="music_description" class="form-control" rows="3" placeholder="Information about the music"></textarea>
	    	</div>
	  	</div>
	  	  	
	  	<div class="form-group">
	    	<label class="col-sm-5 control-label">Audio File</label>
	    	<div class="col-xs-3">
		    	<div id="more_audio_sheet">
		      		<input type="file" name="music_audio_files" size="40" class="form-control-static">
		    	</div>
		    	
		    	<input type="button" value="More" onClick="more_audio_upload_button()"/> 
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	    	<label class="col-sm-5 control-label">Music Sheet</label>
	    	<div class="col-xs-3">
	      		<div id="more_music_sheet">
					<input type="file" name="music_sheet_files" size="40" class="form-control-static">
				</div>
				
				<input type="button" value="More" onClick="more_sheet_upload_button()"/> 	
	    	</div>
	  	</div>
	
	  	<div class="form-group">
	    	<label class="col-sm-5 control-label">Instrument Type</label>
	    	<div class="col-xs-3">
				<select class="form-control" name="music_instrument">
					<option value="piano">Piano</option>
					<option value="violin">Violin</option>
				  	<option value="cello">Cello</option>
				  	<option value="guitar">Guitar</option>
				</select>
	    	</div>
	  	</div>

	  	<div class="form-group">
	    	<div class="col-sm-offset-5">
	      		<input type="submit" class="btn btn-primary btn-lg" value="Upload Music" onClick="uploadMusic('#upload-form', '.upload-form-err-area')"/> 
	    	</div>
	  	</div>
	</form>
	
	
</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>
